/* CSS variables */
:root {
  --color-bg: black;
  --color-text-main: white;
  --color-text-header: white;
  --color-primary: white;
}

/* Basic page style resets */
* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

/* Import fonts */
@font-face {
  src: url("https://cdn.glitch.global/9136e073-9a44-4dec-a568-2ef9ae061fbc/Aldrich-Regular.ttf?v=1741826177879"),
    format("ttf");
  font-family: Aldrich;
}

@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}

@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}

@font-face {
  src: url("https://cdn.glitch.global/9136e073-9a44-4dec-a568-2ef9ae061fbc/HomeVideoBold-R90Dv.ttf?v=1742139611578"),
    format("ttf");
  font-family: Home Video;
}

@font-face {
  src: url("https://cdn.glitch.global/9136e073-9a44-4dec-a568-2ef9ae061fbc/GlitchGoblin-2O87v.ttf?v=1742151202781"),
    format("ttf");
  font-family: Glitch;
}

@font-face {
  src: url("https://cdn.glitch.global/9136e073-9a44-4dec-a568-2ef9ae061fbc/HomeVideo-BLG6G.ttf?v=1742351077793"),
    format("ttf");
  font-family: Home Video Lite;
}

@font-face {
  src: url("/assets/typographerwoodcutinitialsone.regular.ttf"),
    format("ttf");
  font-family: Woodcut;
}

@font-face {
  src: url("/assets/horbse.textured.ttf"),
    format("ttf");
  font-family: Horbse;
}

/* Page structure */
body {
  font-family: HK Grotesk;
  background-image: linear-gradient(black 20%, blue, #fff765);
  /*  replace with background image made on procreate  */
}

.wrapper {
  display: grid;
  place-items: center;
  margin: 0 1rem;
  min-height: 100vh;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.home h1 {
  font-family: Glitch, sans-serif;
  font-weight: 400;
  background-image: linear-gradient(#fff765, blue);
  color: transparent;
  background-clip: text;
  font-size: 100px;
  line-height: 105%;
  margin-top: 8rem;
  margin-bottom: 1rem;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.page p {
  margin: 10px;
}

h1 {
  font-family: Glitch, sans-serif;
  font-weight: 400;
  color: white;
  font-size: 100px;
  line-height: 105%;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.instructions {
  margin-top: 0;
  max-width: 50rem;
  width: 80vw;
  color: white;
}

.container {
  width: 85vw;
  max-width: 40rem;
  min-height: 6rem;
  height: auto;
  background: white;
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 40px;
}

.container p {
  margin-top: 0px;
}

.imageContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.artImage {
  width: 30vw;
  max-width: 15rem;
  margin: 0 5px 5px 5px;
  transition: width 0.5s, max-width 0.5s;
}

.artImage:hover {
  cursor: pointer;
}

.gwcImage {
  width: 35vw;
  max-width: 20rem;
  margin: 0 5px 5px 5px;
  transition: width 0.5s, max-width 0.5s;
}

.elfOne-clicked {
  width: 40vw;
  max-width: 25rem;
  transition: width 0.5s, max-width 0.5s;
}

.elfTwo-clicked {
  width: 40vw;
  max-width: 25rem;
  transition: width 0.5s, max-width 0.5s;
}

.subheader {
  font-family: Home Video, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
}

iframe {
  width: 75vw;
  max-width: 30rem;
  height: 15rem;
}

.align {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.summaryContainer {
  max-width: 30rem;
  width: 75vw;
  height: auto;
  padding: 5px;
  margin-top: 20px;
  border-radius: 20px;
}

.summaryContainer p {
  border-top: 1px blue solid;
  padding-top: 1rem;
}

.blurbTracker {
  font-family: Home Video, sans-serif;
  justify-content: left;
  font-size: 1.5rem;
}

.btn {
  font-family: Home Video Lite, sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 8rem;
  height: 2rem;
  border: none;
  border-radius: 20px;
  background: blue;
  transition: width 0.5s, height 0.5s, background 0.5s;
  color: white;
  margin-bottom: 5rem;
  cursor: pointer;
}

.btn:hover {
  background: #fff765;
  color: black;
  width: 8.5rem;
  height: 2.5rem;
  transition: width 0.5s, height 0.5s, background 0.5s;
}

.roles {
  font-family: Home Video, sans-serif;
}

.roles a:link {
  color: #fff765;
  transition: font-size 0.5s;
}

.roles a:visited {
  color: #fff765;
}

.roles a:hover {
  color: blue;
  font-size: 30px;
  transition: font-size 0.5s;
}

.header {
  display: flex;
  width: auto;
  background-color: rgb(0, 0, 0, 0.5);
  color: white;
  position: sticky;
  top: 0;
  border-radius: 20px;
  backdrop-filter: blur(8px);
}

.header a {
  font-family: Home Video Lite, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.3rem;
  color: white;
  text-decoration: none;
  border-style: none;
  transition: color 0.5s;
}

.header a:hover {
  color: orange;
  transition: color 0.5s;
}

.header .links {
  padding: 0.5rem 2rem;
  white-space: nowrap;
}

.divider {
  padding: 0 1rem;
}

.homeSubheader {
  font-family: Home Video, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  margin-top: 7rem;
}

.techStack {
  width: 5rem;
  text-align: center;
  display: inline-block;
  margin-top: 1rem;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(4deg);
  }
  20% {
    transform: rotate(-4deg);
  }
  30% {
    transform: rotate(4deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(4deg);
  }
}

.techStack img {
  width: 3rem;
}

.techStack img:hover {
  animation: wiggle 2s;
  animation-iteration-count: infinite;
}

.techStack p {
  margin: 5px 0 0 0;
}

.footer {
  padding: 3rem;
}

.imgContainer {
  position: absolute;
  z-index: -1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  left: 0;
}

#partyHat {
  width: 15rem;
  margin-left: 40vw;
}

#hearts {
  width: 8rem;
  margin-right: 80vw;
  transform: rotate(-10deg);
}

#smile {
  width: 5rem;
  margin-left: 60vw;
  animation: click 1s;
  animation-iteration-count: infinite;
  animation-timing-function: step-start;
}

@keyframes click {
  0% {
    translate: 0px;
  }
  50% {
    translate: -3px 8px;
  }
}

.email {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.email img {
  width: 4rem;
  margin-right: 1rem;
}

video {
  width: 75vw;
  max-width: 30rem;
  height: 15rem;
}
